body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px;
}

main {
  max-width: 700px;
  margin: 30px auto;
}

article {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

footer {
  text-align: center;
  color: gray;
  padding: 20px;
}
.historia {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}
nav {
  background-color: #111;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
}
